Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.
Ans:SELECT name, salary 
FROM #Employee e1
WHERE N-1 = (SELECT COUNT(DISTINCT salary) FROM #Employee e2
WHERE e2.salary > e1.salary)




Q-20. Write an SQL query to fetch the list of employees with the same salary.
Ans:select w.worker_id,w.salary,w.FIRST_NAME from worker W,worker W1 where w.salary=w1.salary and w.worker_id != w1.worker_id