Q-17.  Write an SQL query to show the top n (say 10) records of a table.
Ans:select * from (select * from worker order by salary) WHERE ROWNUM <=10

Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.
ANs:select salary from worker order by salary desc limit n-1,1